<a href="https://colab.research.google.com/github/Manel-MH/Monday-Makeover/blob/main/Week4_Core1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Drvive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Import Libraries

In [2]:
#import libraries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

Load Data

In [3]:
#load dataset
MakeoverMonday = ('/content/drive/MyDrive/Colab Notebooks/datasets/Global import of cocoa beans (1).xlsx')
df_CocoaBeans = pd.read_excel(MakeoverMonday)
df_CocoaBeans.head()

           Region  Year  Import in tonnes
0  Asia & Oceania  2015            565000
1  Asia & Oceania  2016            592000
2  Asia & Oceania  2017            866000
3  Asia & Oceania  2018            927000
4  Asia & Oceania  2019            924000

1) Initial Exploration: Get a feel for your data set

● What are the columns?

● What is the type of data for each column

● How much data do you have?

● Are you missing data points?

2) Clean: Prepare the data for analysis

● Make sure you have the appropriate datatype (are numerical values actually numerical
data types?)

● Make sure your categorical data is consistant

● Address missing values

● Address any other obvious errors in your data (Example: Age can’t be 230!)

3) Univariate Visuals: Explore the distribution of each column of data

● Histograms and boxplots

● Bar charts

4) Multivariate Visuals: Explore relationships between variables and differences in groups

● Scatterplots

● Correlation Heatmaps

● Multivariable bar charts or boxbplots

5) Report: Share your findings

● What are the most important findings? (Support each finding with a visual)

● What recommendations would you make to stakeholders based on your findings

In [4]:
#data shape
print(df_CocoaBeans.shape)
print('We have a dataset with 3 columns and 15 rows.')

(15, 3)
We have a dataset with 3 columns and 15 rows.

In [5]:
#data type
df_CocoaBeans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            15 non-null     object
 1   Year              15 non-null     int64
 2   Import in tonnes  15 non-null     int64
dtypes: int64(2), object(1)
memory usage: 488.0+ bytes

In [6]:
#missing values
#is there missing values ?
#we always want .isnull().sum() to return zero
#.isnull().sum() != 0, we have missing values
df_CocoaBeans.isnull().sum()

Region              0
Year                0
Import in tonnes    0
dtype: int64

In [7]:
#run .value_counts() on each dtype
print(df_CocoaBeans['Region'].value_counts())
print(df_CocoaBeans['Year'].value_counts())
print(df_CocoaBeans['Import in tonnes'].value_counts())

Asia & Oceania    5
Americas          5
Europe            5
Name: Region, dtype: int64
2015    3
2019    3
2018    3
2017    3
2016    3
Name: Year, dtype: int64
592000     2
2444000    1
927000     1
549000     1
651000     1
2219000    1
2500000    1
586000     1
2554000    1
924000     1
866000     1
565000     1
1997000    1
621000     1
Name: Import in tonnes, dtype: int64

In [8]:
#get Import in tonnes per year
ImportYear = df_CocoaBeans.groupby(['Year'])['Import in tonnes'].nunique()
#this is a panda series
ImportYear

Year
2015    3
2016    3
2017    3
2018    3
2019    3
Name: Import in tonnes, dtype: int64

In [9]:
# Region list
Region = list(ImportYear.values)
Region

[3, 3, 3, 3, 3]

In [10]:
#create a df for each year
filter_2015 = df_CocoaBeans['Year'] == 2015
filter_2016 = df_CocoaBeans['Year'] == 2016
filter_2016 = df_CocoaBeans['Year'] == 2017
filter_2016 = df_CocoaBeans['Year'] == 2018
filter_2016 = df_CocoaBeans['Year'] == 2019